<footer class="site-footer">
  <div class="row">
    <div class="col-md-12">
      <address>
         <strong>Dominique, Inc.</strong> 123 Spring Ave, Springfield, MD 20888 <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>

<!-- FIREBASE CODE -->
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBlMyTOW7JVe-OFAQtUXRnREKsBiI8R0WY",
    authDomain: "neighborhoodapp-1479323690062.firebaseapp.com",
    databaseURL: "https://neighborhoodapp-1479323690062.firebaseio.com",
    storageBucket: "neighborhoodapp-1479323690062.appspot.com",
    messagingSenderId: "678773963357"
  };
  firebase.initializeApp(config);
</script>

  </div>
</footer>
