<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mainbody">
      <h3 class="text-left">
        Welcome to your Neighborhood
      </h3>
      <div class="alert alert-dismissable alert-info fade in">
         
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×
        </button>
        <h4>
          Alert!
        </h4><strong>priority_high</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse asperiores, quo earum, tempora deserunt cum facere, recusandae nostrum corrupti reiciendis deleniti possimus ea ipsam hic, atque quae debitis numquam aliquid. <a href="#" class="alert-link">alert link</a>
      </div>
      <div class="row">
        <div class="col-md-8 maps">
<!--google maps api test -->
          <div class="gmaps">
            <iframe
                width="100%"
                height="600"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBI_R83zKtF6SUQJ2d_Q-7R7PzRDmQnKao
                &q=712+Ritchie+Ave+Silver+Spring+MD" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-md-4 notes">
          <h2>
            Leaf Collection
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum doloribus ipsam eum iusto corporis quas impedit maiores eveniet vitae perferendis voluptatibus non, alias omnis inventore, quia molestias odio tempore! Nisi.
            <h5>Collection Dates</h5>
            <ul>
              <li>October 31st</li>
              <li>November 24th</li>
              <li>December 15th</li>
            </ul>
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p> <span class="label label-default">Leaf Collection</span>
          <h2>
            Sidewalk Construction
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus earum saepe, officia architecto blanditiis libero totam temporibus id incidunt eveniet magnam nam pariatur aspernatur, aperiam ullam harum molestiae culpa, non.
          </p>
          <h2>
            Sidewalk Construction
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus earum saepe, officia architecto blanditiis libero totam temporibus id incidunt eveniet magnam nam pariatur aspernatur, aperiam ullam harum molestiae culpa, non.
          </p>
          <h2>
            Sidewalk Construction
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus earum saepe, officia architecto blanditiis libero totam temporibus id incidunt eveniet magnam nam pariatur aspernatur, aperiam ullam harum molestiae culpa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo vero, maiores. Qui minus exercitationem aliquam error voluptatibus facere quaerat mollitia quia, optio quo tempora! Itaque, consectetur, dolorum. Odit, ipsa, enim.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p> <span class="label label-default">Sidewalk Project</span>
        </div>
      </div> 
    </div>
  </div>
</div>
      </div>
    </main>
  </body>

    {% include footer.html %}

</html>
